@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Mukta', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.action_button {
  background-image: linear-gradient(to bottom, #5e83ff 0%, #2e33f1 51%);
}

body,
svg {
  overflow-x: hidden;
}

.hero_banner {
  transform: scale(1.2);
}

.features_title {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  font-weight: 500;
  margin-top: 0.5rem; /* 8px */
}

.features_icon {
  transform: scale(0.8);
}

.hero_backdrop_left {
  width: 500px;
  height: 500px;
}

.hero_backdrop_right {
  width: 400px;
  height: 400px;
}

.features_backdrop_right {
  width: 500px;
  height: 500px;
}

.code_list_title {
  border-bottom: 1px dashed #777;
  border-bottom-width: 2px;
}

.code_image {
  width: 500px;
  height: 200px;
  position: absolute;
  bottom: -50px;
  object-fit: cover;
  object-position: 10% 0;
}

button {
  box-shadow: 0px 11.4462px 18.3139px rgba(87, 120, 254, 0.35);
}
.publish_list_title {
  color: #444;
}
.downloading_image {
  width: 100%;
  height: 190px;
  object-fit: cover;
  object-position: -40% 0;
}

.our_installer {
  position: absolute;
  top: 15%;
  left: 40%;
}

.our_installer_right {
  position: absolute;
  top: 55%;
  right: 10%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hero_banner {
    transform: scale(1.1);
  }
  .our_installer {
    left: 35%;
  }
  .code_image {
    width: 100%;
    height: 110px;
    top: 50%;
    object-fit: contain;
    object-position: 100% 0;
  }
  .downloading_image {
    width: 100%;
    height: 130px;
    object-fit: cover;
    object-position: -40% 0;
  }
}

@media screen and (max-width: 767px) {
  .hero_backdrop_left {
    width: 200px;
    height: 200px;
  }
  .hero_backdrop_right {
    width: 400px;
    height: 400px;
  }
  .features_backdrop_right {
    width: 300px;
    height: 300px;
  }
  .features_title {
    font-size: 20px;
  }
  .features_icon {
    transform: scale(1);
  }
  .hero_banner {
    transform: scale(1);
  }
  .hero_banner_mobile {
    transform: scale(1.1);
  }
  .bootstrap_video {
    width: 100%;
    height: 310px;
    object-fit: cover;
    object-position: 2% 0;
    margin-bottom: 2rem;
  }
  .code_image {
    width: 100%;
    height: 100px;
    object-fit: contain;
    object-position: 150% 0;
  }
  .code_list_title {
    font-size: 14px;
  }
  .downloading_image {
    width: 100%;
    height: 100px;
    object-fit: cover;
    margin-top: 1rem;
    object-position: -40% 0;
  }
  .our_installer_right{
    top: 50%;
  }
}
